header {
  @media only screen and (max-width: 31.25em) {
    padding-top: 1.5vw;
  }

  width: 100%;
  display: flex;
  flex-direction: column;

  nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-right: 5rem;
    transition: all 0.5s;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      transition: all 0.3s;
    }

    &:hover > div {
      width: 50%;

      img {
        height: 15rem;
        margin-top: 1.4rem;
        border-radius: 10px;
      }
    }

    .nav-item {
      display: flex;
      flex-direction: column;

      img {
        transition: all 0.5s;
        height: 0px;

      }
    }

    p:hover {
      text-decoration: underline;
    }

    img:hover {
      transform: scale(1.05);
    }
  }

  .title {
    font-size: 3.6rem;
    font-weight: 300;
    text-decoration: none;
    color: black;
  }

  h1 {
    font-size: 6.4rem;
    line-height: 0.9;
  }

  .title-small {
    font-size: 3rem;
  }

  border-bottom: 1px dashed #bbb;
}
