:root {
  --color-primary: #1496bd;
  --color-primary-2: #1596bd;
  --color-primary-light: #72c0d7;
  --color-secondary: #3f706f;
  --color-secondary-2: #3e5e68;
  --color-tertiary: #f1c966;
  --color-tertiary-2: #ebc4b9;
  --color-tertiary-3: #6e5c56;
  --color-background: #131819;
  --color-background-2: #2b2f30;
}
