[id="dropdown-menu"] {
  background-color: white;
  padding: 0.8rem;
  height: 40rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  transition: all 0.2s;
  box-shadow: 0 6px 20px rgba(50, 10, 10, 0.4);

  p:hover {
    text-decoration: underline;
  }
}

body .invisible {
  height: 0%;
  padding: 0rem;
  opacity: 0;
}
