* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(small-phone) {
    font-size: 45%;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;
  color: black;
  background-color: white;
}

form {
  div {
    margin-bottom: 1rem;
  }
}
